name: DAST Baseline Scan
on:  
  push:    
    branches: [ "main" , "fix-hung"]
    // Tạm để cơ chế kích hoạt ở nhánh 'fix-hung' để fix nhanh lỗi DAST
    // Triển khai thực tế cần quy định ít nhất 'on pull' với 'main', 'develop' và on push với tất cả các nhánh khác 
    
    
jobs:  
  zap_scan:    
    runs-on: ubuntu-latest    
    name: Quy trình Kiểm duyệt DAST Tự động    
    
    # 1. Khởi tạo dịch vụ MySQL song song với môi trường ảo
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: microshop_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
          // Đoạn này là khởi tạo MySQL và check sức khỏe Server

    steps:      
      - name: 1. Tải code từ GitHub về máy ảo        
        uses: actions/checkout@v4      
      
      # 2. Đổ dữ liệu vào MySQL
      - name: 2. Import Database Schema và Mock Data
        run: |
        // Đối với web này, CSDL cần được nạp 6 file .sql sau
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/database_schema.sql     // schema để xây dựng DB
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/root_data.sql           // dữ liệu gốc cho DB
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/mock_ff.sql             
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/mock_lq.sql         
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/mock_riot.sql           // 4 file mock này là dữ liệu mẫu
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/mock_steam_game.sql         
          // Có thể vào thư mục database xem 6 file này để hiểu rõ hơn
      
      
      # 3. Sửa đường dẫn Windows thành Linux cho context.xml
      - name: 3. Chỉnh sửa context.xml cho môi trường Linux
        run: sed -i 's|C:/Users/os/Desktop/microshop_uploads|/tmp/microshop_uploads|g' src/main/webapp/META-INF/context.xml
        // Web này có cái hơi lỏ là nó phải có 1 file 'microshop_uploads' tại desktop thì mới chạy được
        // Và vì trong Docker file đã tạo sẵn file 'tmp/microshop_uploads'
        // Chỉ cần thay đổi nội dung đường dẫn trong 'context.xml' về đúng đường dẫn đã tạo 'tmp/microshop_uploads' là được
        // Xem file content.xml để hiểu rõ hơn

      - name: 4. Cài đặt môi trường Java 21        
        uses: actions/setup-java@v4        
        with:          
          java-version: '21'          
          distribution: 'temurin'          
          cache: maven      
      
      - name: 5. Biên dịch code thành file .war (Maven Build)        
        run: mvn clean package -DskipTests      
      
      - name: 6. Đóng gói Docker Image trên GitHub        
        run: docker build -t micro-shop-app .      
      
      # Lưu ý: Cần truyền biến môi trường DB vào container nếu ứng dụng cấu hình qua ENV
      - name: 7. Khởi chạy ứng dụng để chuẩn bị quét        
        run: |          
          docker run -d -p 8080:8080 --network host --name micro-shop-test micro-shop-app          
          sleep 40      
      
      # Fix lỗi Permission Denied cho ZAP
      - name: 8. Phân quyền lại thư mục cho ZAP Action
        run: chmod -R 777 $GITHUB_WORKSPACE

      - name: 9. Sử dụng OWASP ZAP kiểm duyệt bảo mật        
        uses: zaproxy/action-baseline@v0.12.0        
        with:          
          target: 'http://localhost:8080/'          
          issue_title: 'Kết quả kiểm duyệt DAST - Giai đoạn 1'          
          fail_action: false