name: DAST Baseline Scan
on:  
  push:    
    branches: [ "main" , "fix-hung"]

jobs:  
  zap_scan:    
    runs-on: ubuntu-latest    
    name: Quy trình Kiểm duyệt DAST Tự động    
    
    # 1. Khởi tạo dịch vụ MySQL song song với môi trường ảo
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: microshop_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:      
      - name: 1. Tải code từ GitHub về máy ảo        
        uses: actions/checkout@v4      
      
      # 2. Đổ dữ liệu vào MySQL (Giả sử các file .sql nằm ở thư mục root)
      - name: 2. Import Database Schema và Mock Data
        run: |
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/database_schema.sql
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/root_data.sql
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/mock_ff.sql
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/mock_lq.sql
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/mock_riot.sql
          mysql -h 127.0.0.1 -u root -proot microshop_db < database/mock_steam_game.sql
      
      # 3. Sửa đường dẫn Windows thành Linux cho context.xml
      - name: 3. Chỉnh sửa context.xml cho môi trường Linux
        run: sed -i 's|C:/Users/os/Desktop/microshop_uploads|/tmp/microshop_uploads|g' src/main/webapp/META-INF/context.xml
        # Lưu ý: Sửa lại đường dẫn tới file context.xml thực tế trong project của bạn

      - name: 4. Cài đặt môi trường Java 21        
        uses: actions/setup-java@v4        
        with:          
          java-version: '21'          
          distribution: 'temurin'          
          cache: maven      
      
      - name: 5. Biên dịch code thành file .war (Maven Build)        
        run: mvn clean package -DskipTests      
      
      - name: 6. Đóng gói Docker Image trên GitHub        
        run: docker build -t micro-shop-app .      
      
      # Lưu ý: Cần truyền biến môi trường DB vào container nếu ứng dụng cấu hình qua ENV
      - name: 7. Khởi chạy ứng dụng để chuẩn bị quét        
        run: |          
          docker run -d -p 8080:8080 --network host --name micro-shop-test micro-shop-app          
          sleep 40      
      
      # Fix lỗi Permission Denied cho ZAP
      - name: 8. Phân quyền lại thư mục cho ZAP Action
        run: chmod -R 777 $GITHUB_WORKSPACE

      - name: 9. Sử dụng OWASP ZAP kiểm duyệt bảo mật        
        uses: zaproxy/action-baseline@v0.12.0        
        with:          
          target: 'http://localhost:8080/'          
          issue_title: 'Kết quả kiểm duyệt DAST - Giai đoạn 1'          
          fail_action: false